DNS_HOSTNAME=dns.example.com
DNS_DOMAIN=example.com
DNS_ADMIN_PASSWORD=CHANGE_ME_DNS_ADMIN_PASSWORD
DNS_HTTP_PORT=5380
DNS_HTTPS_PORT=53443
DNS_FORWARDERS=https://cloudflare-dns.com/dns-query
TZ=Etc/UTC

