DOMAIN=example.com
ACME_EMAIL=admin@example.com
CF_DNS_API_TOKEN=REPLACE_WITH_CLOUDFLARE_DNS_API_TOKEN
FRONTEND_NETWORK=frontend
TRAEFIK_DASHBOARD_HOST=traefik.example.com
AUTHENTIK_HOST=authentik.example.com
AUTHENTIK_URL=http://authentik-server:9000
AUTHENTIK_LDAPS_HOST=ldap.example.com
AUTHENTIK_LDAPS_ADDRESS=authentik-server:6636
APP_HOST=app.example.com
APP_URL=http://example-app:8080
