TZ=Etc/UTC
DATA_ROOT=/srv/docker/example
PIHOLE_WEBPASSWORD=CHANGE_ME_PIHOLE_PASSWORD
MACVLAN_PARENT=eth0
MACVLAN_SUBNET=192.0.2.0/24
MACVLAN_GATEWAY=192.0.2.1
NPM_IPV4=192.0.2.50
PIHOLE_IPV4=192.0.2.49
BRIDGE_SUBNET=172.30.0.0/24
BRIDGE_GATEWAY=172.30.0.1

